<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ReportMapper">
    <select id="userStatistics" resultType="com.sky.dto.UserReportDTO">
        select
            date(create_time) as localDate,
            coalesce(count(*), 0) as userCount
        from user
        where
            create_time &gt;= #{startTime}
          and create_time &lt;= #{endTime}
        group by date(create_time)
        order by localDate
    </select>
    <select id="sumByMap" resultType="com.sky.dto.TurnoverReportDTO">
        select
            date(order_time) as localDate,
            coalesce(sum(amount), 0) as turnover
        from orders
        where status = #{status}
          and order_time &gt;= #{startTime}
          and order_time &lt;= #{endTime}
        group by date(order_time)
        order by localDate
    </select>
    <select id="ordersStatistics" resultType="com.sky.dto.OrderReportDTO">
        select
            date(order_time) as localDate,
            count(*) as totalOrderCount,
            sum(case when status = 5 then 1 else 0 end) as validOrderCount
        from orders
        where order_time &gt;= #{begin}
          and order_time &lt;= #{end}
        group by date(order_time)
        order by localDate
    </select>
    <select id="findGoodsTop" resultType="com.sky.dto.GoodsSalesDTO">
        select
            order_detail.name,
            sum(order_detail.number) as number
        from order_detail
        left join orders  on orders.id = order_detail.order_id
        where orders.status = #{status}
          and orders.order_time &gt;= #{startTime}
          and orders.order_time &lt;= #{endTime}
        group by order_detail.name
        order by number desc
        limit #{N}
    </select>
</mapper>
